*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    font-family:  'Poppins', sans-serif;
}
p{
    color: #3A3A3A;
}
.container{
    max-width: 1047px;
    margin: auto;

}

/* nabvar css */
#header{
    height: 100vh;
}

.fluid-container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    align-items: center;
    padding: 10px 0;
}
.title{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.title-collection{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    padding: 10px;
}
.links{
    display: flex;
}

.links a {
    text-decoration: none;
    color: #3A3A3A;
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
}
/* hero section css */
.half-width {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

    .half-width h1 {
        font-size: 52px;
    }

.btn {
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    outline: none;
   display: inline-block;
    color: #fff;
    font-weight: 600;
    margin: 30px 0;

    padding: 10px 24px;
gap: 8px;
}

.img-bg{
    background: url(../images/products/Circle\ design.svg);
    background-repeat: no-repeat;
}

/* logo

*/

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.break {
    height: 1px;
    background: 2px lightgray;
}
.collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
}
.collections {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.more {
    color: #E02C6DDE;
    font-weight: 700;
    text-align: right;
    display: inherit;
    margin-top: 20px;
}

.ratting {
    color: #FB8200;
}

/* blog */
#blog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50PX;
}
.content{
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2{
    font-weight: 700;
font-size: 38px;
line-height: 60px;
color: #0A0826;
}

.content p {
    color: #6C6C6C;
    font-weight: 700;
    line-height: 28px;
    width: 80%;
    margin: 18px 0;
}

.blog-btn {
    padding: 10px 24px;
    gap: 8px;
    background: #E02C6D;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    border: none;
}